# Dependencies
node_modules/

# Build Output
out/
dist/
*.vsix

# TypeScript Cache & Logs
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Local Configuration
.env
.DS_Store
Thumbs.db

# VS Code Test Data & Extension Local Runs
.vscode-test/